%thead
  %tr
    %th
      First Name
    %th
      Last Name
    %th
      Email
    %th
      Gender
    %th
      Income
    %th
      Date of Birth
    %th
      Street
    %th
      City
    %th
      State
    %th
      Zip
    %th
      Country
    %th
      Profile Created
